.card-list {
    display: block;
    width: 100%;
  }
  
.card {
  float: left;
  margin: 5px;
  margin-bottom: 1px;
  padding: 10px 3px;
  width: calc( 100% / 5 - 10px);
}

  
  /*first element*/
  
  .card-list .card:first-child {
    margin-left: 0;
  }
  
  
  /*last element of the first row*/
  
  .card-list .card:nth-child(5n) {
    margin-right: 0;
  }
  
  
  /*first-element of the 2nd row*/
  
  .card-list .card:nth-child(5n+1) {
    margin-left: 0;
  }
  
  
  /*last element*/
  
  .card-list .card:last-child {
    margin-right: 0;
  }